@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap');

/* Generic CSS */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-main: 'Poppins', sans-serif;
    --mono-font: 'Chivo Mono', monospace;

    --fs-xl: 3rem;
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
    --fs-200: .6rem;

    --fw-regular: 400;
    --fw-bold: 700;

    --very-dark-color: #161616;
    --dark-color: #001635;
    --semi-dark-color: #4e709f;
    --light-color: #edfeff; 
    --medium-color: #a2c9ff;
    --red-color: #8c0000;

    --width-bar: 0;
}

body,
input,
textarea,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    color: var(--very-dark-color);
}

button, input {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}


body {
    color: var(--dark-color);
    background-color: var(--light-color);
}

body, #root {
    width: 100%;
    height: 100%;
}

/* Game */

.main-game {
    max-width: 720px;
    width: 90%;
}

.table {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.table-win {
    position: absolute;
    background-color: var(--red-color);
    z-index: 999;
    pointer-events: none;
}

.square-win {
    position: absolute;
    z-index: 999;
    pointer-events: none; 
    stroke: var(--red-color);
    stroke-width: 100px;
    transform: scale(1.1)
}

@keyframes square {
    0% {
      stroke-dashoffset: 1202px;
      stroke-dasharray: 1202px;
    }
  
    100% {
      stroke-dashoffset: 2404px;
      stroke-dasharray: 1202px;
    }
}  

.square {
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 5px;
    background-color: var(--medium-color);
}

.square:has(.piece:not(.placed)) {
    cursor: pointer;
}

.side-table {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.side-square {
    aspect-ratio: 1/1;
    position: relative;
    width: 100%;
    border-radius: 5px;
    background-color: var(--semi-dark-color); 
}

.progress-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.stage {
    position: relative;
    text-transform: uppercase;
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

@keyframes stage {
    0% {
      top: 0;
    }

    50% {
        top: 500px;
    }
  
    100% {
        top: 0;
    }
}  

.progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: .25rem;
    margin-bottom: .5rem;
}

.bar {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    height: 20px;
    background: var(--medium-color);
    overflow: hidden;
}

.bar-fill {
    height: 100%;
}

.side-table:not(.blocked) .side-square:has(.piece):hover { cursor: pointer }
.side-table:not(.blocked) .side-square:hover > .piece { opacity: .5 }

/* Classifications */

.piece {
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.piece-grab {
    aspect-ratio: 1/1;
    position: absolute;
    width: 50px;
}

/* .flat {} */
.pierced::after { 
    aspect-ratio: 1/1;
    position: absolute;
    content: '';
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}
.side-square .pierced::after { background-color: var(--semi-dark-color); }
.square .pierced::after { background-color: var(--medium-color); }
.pierced.circle::after { border-radius: 50%;}

.dark { background-color: var(--very-dark-color); }
.light { background-color: var(--light-color); }

.circle { border-radius: 50%; }
/* .squared {} */

.small { width: 50%; }
.large { width: 80%; }

.canva {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 999;
}
  
.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
}

.turn {
    color: white;
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
}

.leftToRight {
    transform: translateX(100%);
    animation-name: leftToRight;
    animation-duration: 1s;
    animation-timing-function: ease;
    /* pointer-events: none; */
    user-select: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.25s;
    animation-timing-function: ease;
    transition: opacity .2s ease;
}

.bttn {
    background-color: var(--semi-dark-color);
    color: white;
    flex: 1;
    /* font-size: var(--fs-500); */
    font-weight: var(--fw-bold);
    padding: .5em .75em;
    border-radius: 5px;
    transition: opacity .2s ease;
}

.bttn.light {
    background-color: var(--dark-color);
}

.bttn-wrapper {
    width: 100%;
    display: flex;
    gap: .75rem;
}

.bttn.blocked {
    background-color: var(--dark-color);
    /* pointer-events: none; */
    opacity: .75;
    cursor: not-allowed;
}

.bttn:hover {
    opacity: .75;
}

.arrow-wrapper {
    height: 20px;
    width: 40%;
}

.arrow {
    height: 100%;
    background-color: #fff;
    transition: transform .2s ease;
}

.arrow.down {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.arrow.up {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.arrow.up:hover {
    transform: translateY(-5px) scale(1.2);
    cursor: pointer;
}

.arrow.down:hover {
    transform: translateY(5px) scale(1.2);
    cursor: pointer;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    position: absolute;
    left: 50%;
    transition: top .2s ease;

    width: 90%;
    max-width: 400px;
}

.box-content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    padding: 1.5em;
    border-radius: 10px;
    background-color: white;
}

.box header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box h2 {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

.box-rects {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box-rect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .75em;

    border-radius: 5px;
    background-color: #dfdfdf;
}

.class {
    font-weight: var(--fw-bold);
}

/* Menu */

.main-menu {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-menu {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
}

.input-size {
    text-align: center;
    border: 4px solid var(--medium-color);
    padding: 5px;
    width: 100px;
    font-size: var(--fs-500);
}

.option-wrapper, .header-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option-wrapper {
    padding-bottom: 1rem;
}

.option-wrapper:last-child {
    border-bottom: 4px dashed var(--medium-color);
}

.option-wrapper:before {
    content: '';
    position: relative;
    /* transform: translateY(-50%); */
    top: 1rem;
    width: 300px;
    height: 4px;
    border-bottom: 4px dashed var(--medium-color);
    z-index: -999;
}

.option-wrapper > h3 {
    background-color: var(--light-color);
    padding: .2rem .2rem;
}

.radio-input, .switch-checkbox, .zen-checkbox {
    display: none;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    cursor: pointer;
}

.bttns-wrapper {
    display: flex;
    width: 250px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.bttns-wrapper > .bttn {
    flex: 1 1 0px;
}

.bttn.active {
    background-color: var(--light-color);
    box-shadow: inset 0 0 0 4px var(--semi-dark-color);
    color: var(--semi-dark-color);
}

.switch-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 5px;
}

.switch {
    position: relative;
    grid-column: 2;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    background-color: var(--semi-dark-color);
    transition: background .2s ease;
}

.switch:hover {
    background-color: #4e709fc8;
}

.switch:before {
    content: 'OFF';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    font-size: var(--fs-200);
    color: var(--light-color);
    pointer-events: none;
}

.switch:after {
    content: 'ON';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    font-size: var(--fs-200);
    color: var(--light-color);
    pointer-events: none;
}

.info {
    position: relative;
    cursor: pointer;
}

.info-container {
    position: absolute;
    top: 0;
    width: max-content;
    padding: .2em .4em;
    background-color: var(--dark-color);
    color: var(--light-color);
    transition: opacity .2s ease;
    border-radius: 5px;
    pointer-events: none;
    user-select: none;
}

.switch-ball {
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    border-radius: 5px;
    background-color: var(--light-color);
    transition: all .2s ease;
    pointer-events: none;
}

.switch-ball:not(.active) { 
    left: 5px; 
    right: calc(100% - 5px);
}

.switch-ball.active {
    right: 5px;
    left: 100%; 
    transform: translate(calc(-100% - 5px), -50%);
}

.switch-label {
    cursor: pointer;
}

/* Score */

.score-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
    width: 50%;
}

.score-player {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: .5em .75em;
    background-color: var(--medium-color);
    border-radius: 5px;
}

.score {
    font-weight: var(--fw-bold);
}

.score-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

.player-abbr {
    display: none;
}

.score-player.player-turn {
    position: relative;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.player-turn::before {
    aspect-ratio: 1/1;
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    background-color: var(--dark-color);
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}

/* SVG */

.logo-svg {
    width: 400px;
}

.logo-svg > path, .svg-footer > path {
    fill: var(--dark-color)
}

.svg-footer {
    --size: 35px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
}

.svg-label {
    --size: 30px;
    width: var(--size);
    height: var(--size);
}

/* Footer */

.footer {
    position: fixed;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: .75rem;
    bottom: 20px;
    right: 20px;
}

/* How to Play Popup */

.how2play-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    opacity: .75;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}

/* .h2p-icon:focus-visible {
    border: #161616;
} */

/* Media Queries */

@media (min-width: 521px) {
    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .main-game {
        display: grid;
        grid-template-columns: 1fr 50% 1fr;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
    }

    .info-container::before {
        content: '';
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        width: 10px;
        height: 10px;
        background-color: var(--dark-color);
        position: absolute;
        top: 0;
        left: -5px;
    }

    .info-wrapper {
        position: relative;
    }

    .info-container {
        left: 25px;
    }
}

@media (max-width: 520px) {
    #root {
        padding: 1rem 0;
    }

    .main-menu {
        height: 100%;
        justify-content: center;
    }

    .main-game {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: clamp(50%, 40vh, 90%);
        gap: 1rem;
        margin: 1em auto 1.5em;
    }

    .side-table {
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
    }

    .progress {
        width: 80%;
    }

    .bar {
        height: 10px;
    }

    .info-container {
        left: 50%;
        transform: translateX(-50%);
    }

    .score-wrapper {
        margin-bottom: 2rem;
    }

    .player-abbr {
        display: block;
    }

    .player {
        display: none;
    }
}

/* Animations */

@keyframes leftToRight {
    0% {
        transform: translateX(-100%);
    }
    20% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        pointer-events: none;
    }
    80% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 100%;
        pointer-events: all
    }
}

@keyframes fillBar {
    0% {
        width: var(--width-bar);
        transform: translateX(0);
    }
    50% {
        width: 100%;
        transform: translateX(0);
    }
    100% {
        width: 0;
        transform: translateX(500px);
    }
}
